*{
    margin: 0%;
    padding: 0%;
}

.navbar{
    background-image: linear-gradient(60deg,#152d54,#345d9e);
    width: 100%;
    height: 80pt;
}

.navbar-nav a:hover{
    color: #1cd84b;
    font-size: 16pt;
}

.navbar-nav li a{
    color: rgb(250, 247, 247);
    font-size: 15pt;
}


.d-flex{
    width: 100dp;
    margin-left: 3.5%;
}

.d-flex button{
     background-color: #23c23b;
     color: white;
}

.dropdown-menu a:hover{
    background-color: #19335c;
}

.link_log{
    float: right; 
    margin-right: 5%; 
    font-size: 15pt;
    text-decoration: none;
    color: white;
}

.link_log:hover{
    color: #23c23b;
    font-size: 16pt;
}

.cards{
    display: flex;
    width: 60%;
    padding: 2%;
    margin: 2% 0% 0% 2%;
    justify-content: space-between;
    border: 2px solid cadetblue;
    border-radius: 10px;
    background-image: linear-gradient(60deg, #34d16b,#2bcc94,#345d9e);
}